@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
	font-family: "Rubik", serif;
	background-color: #cecece;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
	transition: color 0.5s ease-in-out;
	max-width: 100vw;
	overflow-x: hidden;
}

.nightMode {
	color: #000000 !important;
}

.nightModeWhite {
	color: #ffffff !important;
}

h2 {
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
}

.navBar {
	max-width: 100%;
	height: 70px;
	background-color: rgba(22, 75, 167, 0.935);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 50px;
}

input,
textarea,
select {
	margin: 0 10px 10px 0;
	display: block;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fafafa;
	background-clip: padding-box;
	border: 1.5px solid #4a5a70;
	border-radius: 20px;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.textArea {
	min-height: 80px;
}

input[type="button"],
button {
	background-color: rgba(22, 75, 167, 0.935);
	color: #fafafa;
	border: 1px solid rgb(0, 0, 0);
	transition: all 0.2s ease-in-out;
	min-width: 100px;
	height: 35px;
	font-size: 0.8rem;
	font-weight: 900;
	border-radius: 20px;
}

input[type="button"]:hover,
button:hover {
	cursor: pointer;
	scale: 1.05;
	color: #ffffff;
}

input[type="button"]:disabled {
	background-color: lightgray;
}
.btnsLoginContainer {
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
}

main {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	padding-top: 0;
}

#SECTION {
	margin-top: 2rem;
	display: flex;
	align-items: start;
	justify-content: center;
	width: 90%;
}

/*NAVBAR SECTION*/
.navBarUser,
.navBarAdmin {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 10px;
}
.navBarUser li,
.navBarAdmin li {
	list-style: none;
	padding: 10px 10px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	text-transform: uppercase;
}

.navBarUser li:hover,
.navBarAdmin li:hover {
	scale: 1.05;
	font-weight: bold;
	text-decoration: underline;
}

.img-logo {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	object-fit: cover;
	object-position: center;
}
/* LOGIN SECTION */

/* REGISTER SECTION */
.buttonsContainerRegistro {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: center;
	gap: 0.5rem;
}
.formRegistro {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.formRegistro label {
	margin-left: 0.7rem;
}

/* HOME SECTION */
.productosContainer,
.productosEnOfertaContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
}
.producto {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: 1px solid lightgray;
	height: 300px;
	width: 200px;
	border-radius: 4%;
	background-color: #fffafa;
	transition: all 0.15s linear;
	user-select: none;
}

.producto:hover {
	transform: scale(1.09);
	z-index: 100;
	box-shadow: 7px 7px 10px 3px rgba(0, 0, 0, 0.2);
}
.producto-info {
	width: 100%;
	padding: 0.3rem;
}

.parrafoContainerProducto {
	font-size: 1rem;
	background-color: rgba(22, 75, 167, 0.935);
	color: white;
	width: 90px;
	height: 30px;
	border-radius: 30px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 80%;
}
.img-container p {
	text-align: center;
	font-weight: 900;
}
.producto-info h3 {
	margin: 0.4rem;
	font-size: 1.1rem;
	color: rgba(22, 25, 59, 0.74);
	font-weight: 800;
}

.img-container {
	width: 150px;
	height: 150px;
	position: relative;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.producto img {
	width: 150px;
	height: 150px;
}

.btnComprarPruducto {
	position: relative;
	margin: 0;
	margin-bottom: 0.5rem;
	padding: 17px 35px;
	outline: none;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-transform: uppercase;
	background-color: #fff;
	border: 1px solid rgba(22, 76, 167, 0.6);
	border-radius: 10px;
	color: #1d89ff;
	font-weight: 400;
	font-family: inherit;
	z-index: 0;
	overflow: hidden;
	transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
	width: 90%;
}

.btnComprarPruducto span {
	color: #164ca7;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.7px;
}

.btnComprarPruducto:hover {
	animation: rotate624 0.7s ease-in-out both;
}

.btnComprarPruducto:hover span {
	animation: storm1261 0.7s ease-in-out both;
	animation-delay: 0.06s;
}

@keyframes rotate624 {
	0% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}

	25% {
		transform: rotate(3deg) translate3d(0, 0, 0);
	}

	50% {
		transform: rotate(-3deg) translate3d(0, 0, 0);
	}

	75% {
		transform: rotate(1deg) translate3d(0, 0, 0);
	}

	100% {
		transform: rotate(0deg) translate3d(0, 0, 0);
	}
}

@keyframes storm1261 {
	0% {
		transform: translate3d(0, 0, 0) translateZ(0);
	}

	25% {
		transform: translate3d(4px, 0, 0) translateZ(0);
	}

	50% {
		transform: translate3d(-3px, 0, 0) translateZ(0);
	}

	75% {
		transform: translate3d(2px, 0, 0) translateZ(0);
	}

	100% {
		transform: translate3d(0, 0, 0) translateZ(0);
	}
}

.btn-shine {
	border: 1px solid;
	overflow: hidden;
	position: relative;
}

h3 {
	margin-top: 0;
}

.btn-shine span {
	z-index: 20;
}

.btn-shine:after {
	background: #1d89ff;
	content: "";
	height: 155px;
	left: -75px;
	opacity: 0.4;
	position: absolute;
	top: -50px;
	transform: rotate(35deg);
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
	width: 50px;
	z-index: -10;
}

.btn-shine:hover:after {
	left: 120%;
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.productoDetailsContainer {
	background-color: #fffafa;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	width: 400px;
	height: 450px;
	transition: opacity 2s ease, height 2s ease;
}

.productoDetailsContainerPreview {
	height: 400px !important;
}
#productPreview {
	margin-left: 1rem;
}
.productoDetailsContainerImg {
	width: auto;
	height: auto;
	max-width: 80%;
	max-height: 30%;
	position: relative;
}
.productoDetailsContainerImg span {
	position: Absolute;
	bottom: 0;
	left: 0;
}
.priceAndStockContainer {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}
.priceProductoDetails {
	font-weight: 700;
}
.stockProductoDetails {
	font-size: 0.7rem;
	color: #525355;
	font-weight: 600;
	text-decoration: underline;
}

.ratingProductoDetails {
	font-size: 0.9rem;
	margin-left: -5px;
}
.ratingProducto {
	font-size: 0.9rem;
	margin-left: 5px;
}

.productoDetailsContainerImg img {
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.spansContainerProductoDetails {
	width: 70%;
	height: 150px;
	display: flex;

	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 0.5rem;
}

.titleProductoDetails {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}
.productoDetailsControlsContainer {
	width: 80%;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: center;
}
.productoDetailsControlsContainer label {
	width: 100px;
	text-overflow: ellipsis;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	font-size: 0.6rem;
	text-wrap: nowrap;
	color: gray;
	height: 40px;
}

#btnSelectStockBuyer {
	width: 50px;
	height: 20px;
	transition: all 0.2s ease-in-out;
}
#btnSelectStockBuyer:hover {
	scale: 1.05;
}
.CartBtn {
	width: 140px;
	height: 40px;
	border-radius: 12px;
	border: none;
	background-color: rgb(255, 208, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition-duration: 0.5s;
	overflow: hidden;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
	position: relative;
}

.IconContainer {
	position: absolute;
	left: -50px;
	width: 15px;
	height: 30px;
	background-color: transparent;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	z-index: 2;
	transition-duration: 0.5s;
}

.icon {
	border-radius: 1px;
}

.text {
	height: 100%;
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(17, 17, 17);
	z-index: 1;
	transition-duration: 0.5s;
	font-size: 1.04em;
	font-weight: 600;
}

.CartBtn:hover .IconContainer {
	transform: translateX(58px);
	border-radius: 40px;
	transition-duration: 0.5s;
}

.CartBtn:hover .text {
	transform: translate(10px, 0px);
	transition-duration: 0.5s;
}

.CartBtn:active {
	transform: scale(0.95);
	transition-duration: 0.5s;
}
.exitButtonDetailsContainer {
	font-size: 2rem;
	cursor: pointer;
	font-weight: bolder;
	transition: all 0.2s ease-in-out;
}

.exitButtonDetails {
	position: relative;
	width: 1rem;
	height: 1.8rem;
	border: none;
	background: rgba(180, 83, 107, 0.676);
	border-radius: 5px;
	transition: background 0.5s;
	margin-top: 1rem;
}

.X {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1.5rem;
	height: 1.5px;
	background-color: rgb(255, 255, 255);
	transform: translateX(-50%) rotate(45deg);
}

.Y {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1.5rem;
	height: 1.5px;
	background-color: #fff;
	transform: translateX(-50%) rotate(-45deg);
}

.close {
	position: absolute;
	display: flex;
	padding: 0.8rem 1.5rem;
	align-items: center;
	justify-content: center;
	transform: translateX(-50%);
	top: -70%;
	left: 0%;
	width: 0.8rem;
	height: 0.8rem;
	font-size: 12px;
	background-color: rgb(19, 22, 24);
	color: rgb(187, 229, 236);
	border: none;
	border-radius: 3px;
	pointer-events: none;
	opacity: 0;
}

.exitButtonDetails:hover {
	background-color: rgb(211, 21, 21);
	cursor: pointer;
}

.exitButtonDetails:active {
	scale: 1.1;
}

.exitButtonDetails:hover > .close {
	animation: close 0.2s forwards 0.25s;
}

@keyframes close {
	100% {
		opacity: 1;
	}
}

.purchase-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 1px solid rgb(0, 0, 0);
	margin: 1rem;
	border-radius: 2rem;
	padding: 0 3rem;
	height: 9rem;
}

.text-container {
	margin-bottom: 1rem;
}

.title {
	font-size: 2.25rem;
	font-weight: bold;
	line-height: 1.2;
}

.description {
	max-width: 50rem;
	color: #6b7280;
	font-size: 1rem;
}

.order-list {
	width: 100%;
	max-width: 25rem;
	margin-top: 1rem;
}

.order-item {
	display: grid;
	grid-template-columns: 80px 1fr auto;
	gap: 1rem;
	align-items: center;
	margin-bottom: 1rem;
}

.order-image {
	border-radius: 50rem;
	object-fit: cover;
}

.order-info {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.order-title {
	font-weight: 500;
}

.order-quantity,
.order-user {
	color: #6b7280;
	font-size: 0.875rem;
}

.order-price {
	font-weight: bolder;
	text-align: center;
}

.order-status {
	font-weight: bolder;
	text-transform: uppercase;
	margin-top: 1rem;
}

.purchasesListsContainer {
	display: flex;
	gap: 1rem;
}
.purchasesPendingList,
.purchasesApprovedList,
.purchasesCancelList {
	width: 33%;
}

.parrafo-tittle-admin-container {
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: underline rgba(22, 75, 167, 0.935) dashed;
	text-align: center;
}

.adminHome {
	width: 100%;
}
.purchase-container-admin {
	margin-bottom: 0.5rem;
}
.order-item-admin {
	display: flex;
	flex-direction: row;
	border: 1px solid #4a5a70;
	border-radius: 30px;
	padding: 0.5rem 0.5rem;
	align-items: center;
	justify-content: space-between;
}
.order-item-admin img {
	border-radius: 50%;
}
.order-info-admin {
	text-align: center;
}
.btns-admin {
	margin-left: 0.7rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.btn-approve {
	margin-bottom: 0.5rem;
}

.order-status-admin-aprobada,
.order-status-admin-cancelada {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.order-status-admin-aprobada img,
.order-status-admin-cancelada img {
	width: 50px;
}

.popUp {
	position: absolute;
	width: 300px;
	height: 200px;
	background-color: rgba(22, 75, 167, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	flex-direction: column;
	border-radius: 4%;
	padding: 1rem;
}

.popUp-content {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	flex-direction: column;
}

.popUp-exitButton-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.popUp-exitButton {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	transition: all 0.2s linear;
}
.popUp-exitButton:hover {
	cursor: pointer;
	scale: 1.2;
}

.productsContainerAdminView {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.productAdminView {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(22, 75, 167, 0.935);
	border-radius: 30px;
	padding: 0 2rem;
}

.imgContainerAdminView {
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0.5rem;
	flex-direction: column;
}
.imgAdminProduct {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

#parrafoContainerProductoAdmin {
	position: relative;
}

#parrafoContainerProductoAdmin {
	margin-top: 0.5rem;
}

#producto-info-admin {
	text-align: center;
}

#producto-info-admin .isAvilable,
.isSale {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.7rem;
	flex-direction: row;
}

#producto-info-admin .isAvilable input,
.isSale input {
	margin-top: 0.7rem;
	width: 20px;
	height: 20px;
	border-radius: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.btnsAdminActualizePoroduct {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#producto-description-admin {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#producto-description-admin span {
	font-size: 1rem;
	margin-top: 1rem;
}

#stock {
	margin: 0;
}

#btn-update-producto-admin {
	margin: 0;
	margin-top: 2.3rem;
}

.check {
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	appearance: none;
	background-color: #bbb;
	transition: all 0.3s;
}

.check:hover {
	scale: 1.1;
}

.check::before {
	content: "";
	position: absolute;
	border: solid #fff;
	display: block;
	width: 0.3em;
	height: 0.6em;
	border-width: 0 0.2em 0.2em 0;
	z-index: 1;
	opacity: 0;
	right: calc(50% - 0.3em);
	top: calc(50% - 0.6em);
	transform: rotate(0deg);
	transition: all 0.3s;
	transform-origin: center center;
}

.check:checked {
	animation: a 0.3s ease-in forwards;
	background-color: rgb(120, 190, 120);
}

.check:checked::before {
	opacity: 1;
	transform: rotate(405deg);
}

@keyframes a {
	0% {
		opacity: 1;
		transform: scale(1) rotateY(0deg);
	}

	50% {
		opacity: 0;
		transform: scale(0.8) rotateY(180deg);
	}

	100% {
		opacity: 1;
		transform: scale(1) rotateY(360deg);
	}
}

.dot-spinner {
	--uib-size: 2.8rem;
	--uib-speed: 0.9s;
	--uib-color: #183153;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 8rem;
	height: var(--uib-size);
	width: var(--uib-size);
}

.dot-spinner__dot {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
}

.dot-spinner__dot::before {
	content: "";
	height: 20%;
	width: 20%;
	border-radius: 50%;
	background-color: var(--uib-color);
	transform: scale(0);
	opacity: 0.5;
	animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
	box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
	transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
	animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
	transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
	animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
	transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
	animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
	transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
	animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
	transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
	animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
	transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
	animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
	transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
	animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
	0%,
	100% {
		transform: scale(0);
		opacity: 0.5;
	}

	50% {
		transform: scale(1);
		opacity: 1;
	}
}

.toggle-checkbox {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.toggle-slot {
	font-size: 10px;
	position: relative;
	height: 3.5em;
	width: 7em;
	border: 0px solid transparent;
	border-radius: 10em;
	background-color: white;
	transition: background-color 250ms;
	cursor: pointer;
}

.toggle-checkbox:checked ~ .toggle-slot {
	background-color: #374151;
}

.toggle-button {
	transform: translate(0.3em, 0.25em);
	position: absolute;
	height: 3em;
	width: 3em;
	border-radius: 50%;
	background-color: #ffeccf;
	box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
	transition: background-color 250ms, border-color 250ms,
		transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
	background-color: #485367;
	box-shadow: inset 0px 0px 0px 0.75em white;
	transform: translate(3.65em, 0.25em);
}

.sun-icon {
	position: absolute;
	height: 6em;
	width: 6em;
	color: #ffbb52;
}

.sun-icon-wrapper {
	position: absolute;
	height: 6em;
	width: 6em;
	opacity: 1;
	transform: translate(2em, 2em) rotate(15deg);
	transform-origin: 50% 50%;
	transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
	opacity: 0;
	transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
	position: absolute;
	height: 6em;
	width: 6em;
	color: white;
}

.moon-icon-wrapper {
	position: absolute;
	height: 6em;
	width: 6em;
	opacity: 0;
	transform: translate(11em, 2em) rotate(0deg);
	transform-origin: 50% 50%;
	transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
	opacity: 1;
	transform: translate(2em, 2em) rotate(-15deg);
}

.noPurchasesImage {
	width: 300px;
	height: 300px;
	margin-left: 5rem;
}

.balanceContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: underline;
}

.fade-in {
	animation: fadeIn 0.5s forwards;
}
.fade-in-nav {
	animation: fade-in-nav 0.5s forwards;
}

.sectionTitle,
.purchase-container {
	animation: translatex 0.5s forwards;
}

@keyframes translatex {
	from {
		opacity: 0;
		transform: translateX(-100px);
		scale: 0.8;
	}
	to {
		opacity: 1;
		transform: translateX(0);
		scale: 1;
	}
}

@keyframes fade-in-nav {
	from {
		opacity: 0;
		transform: translateY(-100px);
		scale: 0.8;
		border-radius: 10rem;
	}
	to {
		opacity: 1;
		transform: translateY(0);
		scale: 1;
		border-radius: none;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-100px);
		scale: 0.4;
	}
	to {
		opacity: 1;
		transform: translateY(0);
		scale: 1;
	}
}
.divArrowContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.divArrowContainer img {
	margin-bottom: 1rem;
	transition: all 0.2s linear;
}

.divArrowContainer img:first-child {
	transform: rotate(180deg);
}

.divArrowContainer img:hover {
	scale: 1.2;
	cursor: pointer;
}
